* { margin: 0; padding: 0; box-sizing: border-box;}

body {
  text-align: center;
  min-height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(135deg, #658C58 0%, #31694E 100%);
}

h1 { margin: 15px 0; color: #1e2128; }



